<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="content">Quote</label>
        <input
          type="text"
          class="form-control"
          id="content"
          required
          [(ngModel)]="quote.content"
          name="content"
        />
      </div>

      <div class="form-group">
        <label for="description">Author</label>
        <input
          class="form-control"
          id="author"
          required
          [(ngModel)]="quote.author"
          name="author"
        />
      </div>

      <button (click)="saveqQuote()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <!-- <button class="btn btn-success" (click)="newQuote()">Add</button> -->
    </div>
  </div>
</div>